*{
	margin:0;
	padding:0;
	outline:0;
}
html, body{
	height:100%;
}
body{
	min-width:980px;
	font-family:'Open Sans', sans-serif;
	font-size:14px;
	color:#000;
	background:#eceff1;
}
body.mainpage{
	background:#fff;
}
.wrapper{
	position:relative;
	min-height:100%;
}
.page{
	position:relative;
	padding-bottom:108px;
}
.content{
	position:relative;
	width:960px;
	margin:0 auto;
	z-index:1;
}
.content img{
	max-width:960px;
}
.header{
	position:relative;
	margin-bottom:38px;
	padding-top:60px;
	background:#9bb3c1;
	-moz-box-shadow:0 0 30px #d8dadc;
	-webkit-box-shadow:0 0 30px #d8dadc;
	box-shadow:0 0 30px #d8dadc;
	z-index:500;
}
.mainpage .header{
	margin:0;
}
.header .menu{
	display:inline-block;
	width:100%;
	height:55px;
	background:#fff;
	text-align:center;
}
.header .menu .content{
	display:inline-block;
}
.header .menu .logo{
	display:inline-block;
	float:left;
	width:260px;
	height:92px;
	margin:-15px 0 -26px;
	background:url('images/logo.png') no-repeat;
}
.header .menu .acc{
	display:inline-block;
	float:right;
	height:32px;
	margin-top:11px;
	padding:0 15px;
	line-height:32px;
	color:#fff;
	background:#00acc1;
	text-decoration:none;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.header .menu ul{
	list-style:none;
	display:inline-block;
	float:right;
	margin-right:24px;
}
.header .menu ul li{
	position:relative;
	display:inline-block;
	float:left;
	height:59px;
	margin-bottom:-10px;
	border:1px transparent solid;
	border-top:none;
}
.header .menu ul li a{
	display:block;
	height:62px;
	margin-top:-3px;
	padding:0 18px;
	line-height:62px;
	color:#303b42;
	text-decoration:none;
}
.header .menu ul li:hover,
.header .menu ul li.active,
.header .menu ul li.cur{
	border-color:#cfd8dc;
}
.header .menu ul li:hover a,
.header .menu ul li.active a,
.header .menu ul li.cur a{
	background:#f5f7f8;
	background:-moz-linear-gradient(top,#fdfdfd 0%,#eef1f3 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fdfdfd),color-stop(100%,#eef1f3));
	background:-webkit-linear-gradient(top,#fdfdfd 0%,#eef1f3 100%);
	background:-o-linear-gradient(top,#fdfdfd 0%,#eef1f3 100%);
	background:-ms-linear-gradient(top,#fdfdfd 0%,#eef1f3 100%);
	background:linear-gradient(top,#fdfdfd 0%,#eef1f3 100%);
}
.header .menu ul li.active ul{
	display:block;
}
.header .menu ul ul{
	display:none;
	position:absolute;
	top:100%;
	left:-1px;
	float:none;
	text-align:left;
	background:#f5f7f8;
	background:-moz-linear-gradient(top,#fdfdfd 0%,#eef1f3 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fdfdfd),color-stop(100%,#eef1f3));
	background:-webkit-linear-gradient(top,#fdfdfd 0%,#eef1f3 100%);
	background:-o-linear-gradient(top,#fdfdfd 0%,#eef1f3 100%);
	background:-ms-linear-gradient(top,#fdfdfd 0%,#eef1f3 100%);
	background:linear-gradient(top,#fdfdfd 0%,#eef1f3 100%);
	border:1px #cfd8dc solid;
}
.header .menu ul ul li{
	display:block;
	float:none;
	height:auto;
	margin:0 25px -1px;
	border:none;
	border-top:1px #cfd8dc solid;
	border-bottom:1px #cfd8dc solid;
}
.header .menu ul ul li:first-child{
	border-top:none;
}
.header .menu ul ul li:hover,
.header .menu ul ul li.active,
.header .menu ul ul li.cur{
	margin:0 0 -1px;
}
.header .menu ul ul li a{
	height:50px;
	margin:0;
	line-height:50px;
	background:transparent !important;
	white-space:nowrap;
}
.header .menu ul ul li:hover a,
.header .menu ul ul li.active a,
.header .menu ul ul li.cur a{
	padding:0 43px;
	background:#fff !important;
}
.banner{
	height:675px;
	margin-bottom:45px;
	background:url('images/banner.png') center center no-repeat;
}
.banner .content{
	position:relative;
	z-index:1;
}
.banner h1{
	position:absolute;
	top:60px;
	right:38px;
	font-size:36px;
	font-weight:300;
	color:#00acc1;
	text-transform:uppercase;
}
.cols{
	display:inline-block;
	width:100%;
	margin-bottom:30px;
}
.cols .col{
	display:inline-block;
	float:left;
}
.cols .col2{
	width:50%;
}
.cols .col3{
	width:33.33%;
}
.slogons{
	position:relative;
	height:280px;
	text-transform:uppercase;
}
.slogons .sh{
	display:block;
	position:absolute;
	right:100%;
	margin-right:20px;
}
.slogons .s1{
	position:absolute;
	top:15px;
	right:67px;
	font-size:36px;
	color:#546e7a;
}
.slogons .s1 .sh{
	top:12px;
	font-size:18px;
	color:#cfd8dc;
}
.slogons .s2{
	position:absolute;
	top:70px;
	right:73px;
	font-size:60px;
	color:#00acc1;
}
.slogons .s2 .sh{
	top:20px;
	font-size:36px;
	font-weight:600;
	color:#cfd8dc;
}
.slogons .s3{
	position:absolute;
	top:155px;
	right:124px;
	font-size:36px;
	color:#303b42;
}
.slogons .s3 .sh{
	top:12px;
	font-size:18px;
	font-weight:600;
	color:#cfd8dc;
}
.slogons .s4{
	position:absolute;
	top:210px;
	right:42px;
	font-size:48px;
	font-weight:300;
	color:#ff6d00;
}
.slogons .s4 .sh{
	top:15px;
	font-size:30px;
	font-weight:600;
	color:#cfd8dc;
}
.video{
	position:relative;
	height:280px;
	background:url('images/video.png') center center no-repeat;
}
.video .hover{
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.video .hover:hover{
	background:rgba(0,0,0,0.1);
}
.video .hover span{
	position:absolute;
	display:block;
	top:50%;
	left:50%;
	width:96px;
	height:57px;
	margin:-28px 0 0 -48px;
	background:url('images/play.png') left top no-repeat;
}
.video .hover:hover span{
	width:87px;
	height:51px;
	margin:-25px 0 0 -43px;
	background-position:left bottom;
}
.mtext{
	padding:0 15px;
	font-size:16px;
	font-weight:300;
	line-height:24px;
}
.mtext:first-letter{
	font-size:30px;
	color:#00acc1;
}
.stores{
	display:inline-block;
	width:100%;
	padding:70px 0;
	text-align:center;
}
.stores a{
	display:inline-block;
	width:189px;
	height:53px;
	margin:0 7px;
	background:url('images/stores.png') no-repeat;
}
.stores .android{
	background-position:0 0;
}
.stores .android:hover{
	background-position:0 -53px;
}
.stores .ios{
	background-position:-197px 0;
}
.stores .ios:hover{
	background-position:-197px -53px;
}
.stores .windows{
	background-position:-396px 0;
}
.stores .windows:hover{
	background-position:-396px -53px;
}
.line{
	position:relative;
	height:156px;
	margin-bottom:-118px;
	overflow:hidden;
}
.line .h{
	position:absolute;
	top:0;
	width:100%;
	background:#cfd8dc;
	height:1px;
}
.line .v{
	position:absolute;
	top:0;
	width:1px;
	height:156px;
	background:#cfd8dc;
}
.line.left .h,
.line.left .v{
	right:50%;
	margin-right:-530px;
}
.line.right .h,
.line.right .v{
	left:50%;
	margin-left:-530px;
}
.sidemenu{
	display:inline-block;
	float:left;
	width:250px;
	padding-top:135px;
}
.sidemenu ul{
	margin-right:10px;
	list-style:none;
	border-bottom:1px #cfd8dc solid;
}
.sidemenu ul li{
	display:block;
	border-top:1px #cfd8dc solid;
}
.sidemenu ul li a{
	display:block;
	height:33px;
	padding:0 20px;
	line-height:33px;
	color:#000;
	text-decoration:none;
}
.sidemenu ul li a:hover,
.sidemenu ul li a.cur{
	background:#e3e8eb;
}
.sidemenu ul ul{
	margin:0;
	padding:10px 0;
	border-top:1px #cfd8dc solid;
	border-bottom:none;
}
.sidemenu ul ul li{
	border:none;
	padding:3px 10px 3px 40px;
}
.sidemenu ul ul li a{
	display:inline-block;
	height:auto;
	padding:0;
	font-size:12px;
	line-height:normal;
	text-decoration:underline;
}
.sidemenu ul ul li a:hover,
.sidemenu ul ul li a.cur{
	background:none;
	text-decoration:none;
}
.main{
	display:inline-block;
	float:left;
	width:700px;
}
.main h1{
	display:block;
	margin:0 0 50px 0px;
	font-size:36px;
	font-weight:300;
	color:#ff6d00;
}
.main .img{
	float:left;
	width:377px;
	height:493px;
}
.main .img.default{
	background:url('images/default.png') no-repeat;
}
.main .img img{
	max-width:377px;
}
.main .text{
	padding:20px 0 0 20px;
}
.main .text img{
	max-width:680px;
}
.main .text.withimg{
	padding:20px 0 0 377px;
}
.main .text h2{
	margin-bottom:40px;
	font-size:36px;
	font-weight:300;
}
.main .text p{
	margin-bottom:30px;
}
.contacts p{
	margin-bottom:40px;
	font-size:18px;
	font-weight:300;
}
.contacts h2{
	margin-bottom:20px;
	font-size:36px;
	font-weight:300;
}
.contacts #map{
	display:inline-block;
	float:left;
	width:500px;
	height:300px;
	margin:20px 0 0 50px;
	border:1px #9bb3c1 solid;
}
.contacts .info{
	display:inline-block;
	float:left;
	width:350px;
	margin-left:50px;
}
.contacts .info p{
	margin:0;
}
.contacts .info div{
	position:relative;
	margin-bottom:35px;
	padding-left:100px;
}
.contacts .info .label{
	font-weight:600;
}
.contacts .info div span{
	display:block;
	position:absolute;
	top:50%;
	left:0;
	width:86px;
	background:url('images/contacts.png') no-repeat;
}
.contacts .info div.mail{
	min-height:64px;
}
.contacts .info div.mail span{
	height:64px;
	margin-top:-32px;
	background-position:0 0;
}
.contacts .info div.skype{
	min-height:76px;
}
.contacts .info div.skype span{
	height:76px;
	margin-top:-38px;
	background-position:0 -85px;
}
.contacts .info div.phone{
	min-height:70px;
}
.contacts .info div.phone span{
	height:70px;
	margin-top:-35px;
	background-position:0 -191px;
}
.contacts .info div.addr{
	min-height:50px;
}
.contacts .info div.addr span{
	height:50px;
	margin-top:-25px;
	background-position:0 -293px;
}
.preamble{
	display:inline-block;
	width:100%;
	margin-bottom:40px;
}
.preamble .left{
	display:inline-block;
	float:left;
	width:250px;
	text-align:center;
}
.preamble .left img{
	max-width:250px;
}
.preamble .right{
	display:inline-block;
	float:right;
	width:640px;
}
.preamble .right img{
	margin-top:-50px;
	max-width:640px;
}
.preamble .right p{
	padding-top:30px;
	font-size:16px;
	font-weight:300;
}
.main2{
	padding-bottom:20px;
}
.main2 h3{
	margin-bottom:20px;
	font-size:24px;
	font-weight:300;
	color:#00acc1;
}
.main2 p{
	margin-bottom:30px;
	font-size:16px;
	font-weight:300;
}
.main2 table{
	width:100%;
	border-collapse:collapse;
	border-spacing:0;
	table-layout:fixed;
}
.main2 table td{
	padding:0 40px;
}
.main2 table.devices{
	margin-bottom:30px;
}
.main2 table.devices td{
	padding:0;
	text-align:right;
}
.main2 table.devices h3,
.main2 table.devices p{
	padding-right:150px;
}
.main2 table.devices img{
	display:inline-block;
	float:right;
	max-width:92px;
	margin:-10px 20px 0 0;
}
.main2 table.characteristics{
	table-layout:auto;
	margin-bottom:40px;
}
.main2 table.characteristics td{
	padding:0 0 5px 20px;
	text-align:left;
	vertical-align:top;
}
.main2 table.characteristics td:first-child{
	padding-left:0;
	white-space:nowrap;
}
.main2 .more{
	font-size:14px;
	font-weight:400;
	text-align:right;
}
.main2 .more a{
	color:#000;
}
.main2 .more a:hover{
	text-decoration:none;
}
.editorlogo{
	width:285px;
	height:135px;
	margin:0 auto 50px;
	background:url('images/editor_logo.png') no-repeat;
}
.desc{
	margin-top:-30px;
	font-size:16px;
	font-weight:300;
	text-align:center;
}
.editor{
	width:997px;
	height:443px;
	margin:50px auto -150px;
	background:url('images/editor.png') no-repeat;
}
.whitestripe{
	height:175px;
	margin-bottom:60px;
	background:#fff;
}
.title{
	display:inline-block;
	position:relative;
	margin-bottom:50px;
}
.title h1{
	display:inline-block;
	padding:0 0 15px 140px;
	font-size:36px;
	font-weight:300;
	color:#ff6d00;
}
.title h1 span{
	color:#000;
}
.title .hr{
	position:absolute;
	bottom:0;
	right:0;
	width:5000px;
	height:1px;
	background:#cfd8dc;
}
.partblock{
	display:inline-block;
	width:100%;
	margin-bottom:50px;
}
.partblock .label{
	display:inline-block;
	float:left;
	width:250px;
}
.partblock .label div{
	display:inline-block;
}
.partblock .label div img{
	max-width:250px;
}
.partblock .label p{
	text-align:center;
	font-size:18px;
}
.partblock .text{
	display:inline-block;
	float:left;
	width:708px;
	margin-top:20px;
	font-size:16px;
	font-weight:300;
}
.partblock .text p{
	margin-right:28px;
}
.partblock .text p.more{
	margin:15px 0 0 0;
	font-size:14px;
	text-align:right;
}
.partblock .text p.more a{
	font-style:italic;
	color:#00acc1;
}
.partblock .text p.more a:hover{
	text-decoration:none;
}
.logotable{
	width:100%;
	border-collapse:collapse;
	border-spacing:0;
	table-layout:fixed;
	margin:30px 0;
}
.logotable td{
	padding:15px 0;
	text-align:center;
	vertical-align:top;
	border-left:1px #00a7cb dashed;
}
.logotable td:first-child{
	border-left:none;
}
.logotable a{
	color:#000;
	text-decoration:none;
}
.logotable a:hover{
	text-decoration:underline;
}
.logotable img{
	border:none;
	display:block;
	margin:0 auto 10px;
}
.list8{
	margin-bottom:30px;
	list-style:none;
	background:url('images/list8.png') 720px 0 no-repeat;
}
.list8 li{
	display:block;
	padding:0 295px 50px 0;
	text-align:right;
}
.list5{
	list-style:none;
	margin:0 0 40px 165px;
	padding-top:4px;
	background:url('images/list5.png') 0 0 no-repeat;
}
.list5 li{
	display:block;
	padding:0 0 26px 130px;
}
.footer{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	height:108px;
	background:#9bb3c1;
}
.footer .content{
	position:relative;
}
.footer .phone{
	position:absolute;
	top:15px;
	left:150px;
	font-size:30px;
	font-weight:300;
	color:#fff;
}
.footer .copyright{
	position:absolute;
	top:57px;
	left:0;
}
.footer .menu{
	list-style:none;
	display:inline-block;
	position:absolute;
	top:22px;
	right:52px;
}
.footer .menu li{
	display:inline-block;
	float:left;
	padding:2px 18px;
	border-left:1px #78909c solid;
}
.footer .menu li:first-child{
	border:none;
}
.footer .menu a{
	color:#000;
	text-decoration:none;
}
.footer .menu a:hover{
	text-decoration:underline;
}
.footer .lang{
	position:absolute;
	top:26px;
	right:0;
}
.footer .lang .cur{
	display:block;
	width:31px;
	height:31px;
	cursor:pointer;
	background:url('images/langs.png') no-repeat;
}
.footer .lang .cur.ru{
	background-position:0 0;
}
.footer .lang .cur.en{
	background-position:-31px 0;
}
.footer .lang .popup{
	display:none;
	position:absolute;
	bottom:100%;
	right:50%;
	padding-bottom:15px;
	overflow:hidden;
}
.footer .lang .links{
	position:relative;
	padding:5px 0;
	background:#fff;
	border:1px #9bb3c1 solid;
	-moz-border-radius:5px 5px 0 5px;
	-webkit-border-radius:5px 5px 0 5px;
	border-radius:5px 5px 0 5px;
}
.footer .lang .links p{
	padding:5px 35px;
}
.footer .lang .links a{
	display:inline-block;
	color:#000;
	text-decoration:none;
}
.footer .lang .links a:hover{
	text-decoration:underline;
}
.footer .lang .links .arr{
	position:absolute;
	bottom:-28px;
	right:-14px;
	width:0;
	height:0;
	border:14px transparent solid;
	border-top-color:#9bb3c1;
}
.footer .lang .links .arr div{
	position:absolute;
	top:-14px;
	right:-12px;
	width:0;
	height:0;
	border:12px transparent solid;
	border-top-color:#fff;
}
.footer .lang .links .arr span{
	position:absolute;
	width:1px;
	height:14px;
	background:#9bb3c1;
	top:-14px;
}